<!DOCTYPE html>
<html lang="en">
  
  <!--=========================== HEAD ============================-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Christopher B. Zenner">
    <meta name="description" content="Full Stack Flex Assignment 14">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/newspaper.png">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/05d8befa20.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Site-specific Styles -->
    <link rel="stylesheet" href="/assets/css/main.css">     

    <title>All the News That's Fit to Scrape</title>
  </head>

  <!--=========================== BODY ============================-->
  <body>
    {{{ body }}}

    <!-- Load Babel -->
    <!-- v6 <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <!-- My Script -->
    <script src="/dist/main.js"></script>
  </body>

</html>
