<!-- Header -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"><i class="far fa-newspaper"></i>&nbsp;News Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-links" class="collapse navbar-collapse justify-content-end uppercase">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="home" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a id="saved" class="nav-link" href="/saved">Saved Articles</a>
        </li>
        <li class="nav-item">
          <a id="scrape" class="nav-link" href="/scrape">Scrape New Articles</a>
        </li>
        <li class="nav-item">
          <a id="clear" class="nav-link" href="#">Clear Articles</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      {{#unless saved }}
      <h1 class="display-4 mt-3 uppercase">Latest Headlines</h1>
      <p class="lead"><span class="uppercase">Democracy Now!</span> Edition</p>
      {{else}}
      <h1 class="display-4 mt-3 uppercase">Saved Headlines</h1>
      <p class="lead">Your news articles when you want them</p>      
      {{/unless}}
    </div>
  </div>
</header>

<!-- Primary Content -->
<main class="container">
  <div id="latest-headlines" class="row row-cols-1 row-cols-md-2">
    {{#each headlines }}
      {{> breaking-news }}
    {{/each}}
  </div>
</main>

<!-- Notes Modal -->
<div id="notes-modal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="you-plus-friend-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="notes-title">Notes for &ldquo;{{ title }}&rdoquo;</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="art-notes" class="modal-body" data-art-id="{{ _id }}">
        {{#each notes }}
          {{> article-notes }}
        {{/each}}
      </div>
      <div class="form-group">
        <label for="new-art-note"></label>
        <textarea id="new-art-note" class="form-control" rows="3" placeholder="New note ..."></textarea>
      </div>
      <div class="modal-footer">
        <div class="mx-auto">
          <button id="save-note" type="button" class="btn btn-dark btn-sm" data-dismiss="modal"><i class="far fa-save"></i>&nbsp;Save Note</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="pb-2">
  <div class="container-fluid text-center">
    <div id="copyright">
      &copy;2020 Christopher B. Zenner. Built with <i class="fas fa-heart"></i>. All rights reserved.
    </div>
    <div id="attribution">
      Jumbotron background pattern courtesy of <a href="https://dribbble.com/shots/6019214-Daily-UI-059/attachments" target="_blank" rel="noopener noreferrer">Yvonne Cavero</a>. Fonts served by <a href="https://fonts.google.com/" target="_blank" rel="noopener noreferrer">Google Fonts</a>.
    </div>
  </div>
</footer>
