<!-- Header -->
<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Latest Headlines</h1>
      <p class="lead">Democracy Now! Edition</p>
    </div>
  </div>
</header>

<!-- Primary Content -->
<main class="container">
  <div id="latest-headlines" class="row row-cols-1 row-cols-md-2">
    {{#each headlines }}
      {{> breaking-news }}
    {{/each}}
  </div>
</main>

<!-- Footer -->
<footer></footer>
