<!-- Header -->
<header></header>

<!-- Primary Content -->
<main class="container-fluid">
  <h1>Latest Headlines</h1>
  {{!-- <div id="latest-headlines" class="card-deck"> --}}
  <ul>
    {{#each headlines }}
      {{> breaking-news }}
    {{/each}}
  </ul>
  {{!-- </div> --}}
</main>

<!-- Footer -->
<footer></footer>
