@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

$alt-sans-font-stack: 'Open Sans Condensed', sans-serif;
$sans-font-stack: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$serif-font-stack: 'Times New Roman', 'Times', 'Georgia', serif;
