a, a:active, a:focus, a:hover {
  color: $democracy-now-red;
  text-decoration: none;
  text-transform: uppercase;
}

a:active, a:focus, a:hover {
  text-decoration: underline;
}

.jumbotron-fluid {
  background-image: url('/assets/img/resist-sign.png');
  background-size: cover;
  border-bottom: 2px solid $democracy-now-blk;
  position: relative;
}

.jumbotron-fluid::before {
  content: '';
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
}

.display-4, .lead {
  position: relative;
}

.display-4 {
  color: $democracy-now-blk;
}

.lead {
  color: $democracy-now-red;
}

.card, .card-footer {
  border-color: $democracy-now-red;
}

#dn-arrow {
  max-width: 16px;
}
